<%- include('../layouts/admin/header.ejs') %>

        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">USERS LIST</h2>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Registered</th>
                                    <th class="text-center">Action</th>
                                    <th>View details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i = 0; i < data.length; i++) { %>
                                    <tr>
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="assets/imgs/people/avatar<%= (i % 4) + 1 %>.jpg" class="img-sm img-avatar" alt="Userpic">
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title"><%= data[i].name %></h6>
                                                    <small class="text-muted">User ID: <%= data[i]._id %></small>
                                                </div>
                                            </a>
                                        </td>
                                        <td><%= data[i].email %></td>
                                        <td>
                                            <span class="badge rounded-pill <%= data[i].isBlocked ? 'alert-danger' : 'alert-success' %>">
                                                <%= data[i].isBlocked ? 'Inactive' : 'Active' %>
                                            </span>
                                        </td>
                                        <td><%= new Date(data[i].registered).toLocaleDateString() %></td>
                                        <td class="text-end">
                                            <% if (!data[i].isBlocked) { %>
                                                <button class="btn btn-danger btn-sm  rounded font-sm mt-0 ">
                                                    <a href="/admin/blockCustomer?id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Block</a>
                                                </button>
                                            <% } else { %>
                                                <button class="btn btn-success btn-sm  rounded font-sm mt-0 ">
                                                    <a href="/admin/unblockCustomer?id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Unblock</a>
                                                </button>
                                            <% } %>                                       
                                        </td>
                                        <td> <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-0">View details</a></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
        
                    <div class="pagination-area mt-15 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                    </li>
                                <% } %>
        
                                <% if (totalPages > 3 && currentPage < totalPages) { %>
                                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="?page=<%= totalPages %>"><%= totalPages %></a></li>
                                <% } %>
        
                                <% if (currentPage < totalPages) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="?page=<%= currentPage + 1 %>">
                                            <i class="material-icons md-chevron_right"></i>
                                        </a>
                                    </li>
                                <% } %>
                            </ul>
                        </nav>
                    </div>
                </div> 
            </div> 
        </section>


            <%- include('../layouts/admin/footer.ejs') %>